.DogList__dog img {
  width: 75%;
  border-radius: 50%;
  filter: grayscale();
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: filter 400ms;
}

.DogList__dog:hover img {
  filter: none;
}

.DogList__dog .underline {
  text-decoration: none;
  border: 4px solid transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 1.4rem;
  margin: 10px;
  position: relative;
}

.DogList__dog .underline::after {
  content: '';
  width: 0;
  height: 4px;
  display: block;
  background-color: #fff;
  position: absolute;
  top: 34px;
  left: 50%;
  transition: left 400ms, width 400ms;
}

.DogList__dog:hover .underline::after {
  width: 100%;
  left: -0.1em;
}
