.AlphaButtons {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.AlphaButtons button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.AlphaButtons button:hover {
  background-color: #ff9800;
}

.AlphaButtons button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}
