.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  /* zoom: 1.3; */
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman__reset {
  display: block;
  margin: 0 auto;
  font-size: inherit;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.Hangman__reset:hover {
  color: white;
  background-color: black;
}
