.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  background: rgba(255, 255, 255, 0.1);
}

.Todo__task {
  position: relative;
  transition: opacity 300ms linear;
}

.Todo__task.completed {
  opacity: 0.6;
}
.Todo__task.completed:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 200ms ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo__buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.Todo__buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  cursor: pointer;
  color: #fff;
}

.Todo__edit-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Todo__edit-form input,
.Todo__edit-form button {
  font-family: Quicksand, sans-serif;
  height: 3rem;
  outline: none;
}

.Todo__edit-form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}

.Todo__edit-form button {
  padding: 0 1.3em;
  background-color: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}
.Todo__edit-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
